form {
    padding: 20px;
    background-color: #1191e7;
    border-radius: 1px;
    border: 1px solid #0c0b0b;
}

.acoes{
    text-align: center;
}
.campo label{
    color: rgba(0, 0, 0, 0.99);
}
.campo input, select{
    width: 96%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #eddddd;
    padding-left: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.vertical-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

fieldset {
    border: 1px solid rgba(49, 92, 49, 0.97);
    border-radius: 5px;
    margin-top: 10px;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid rgba(49, 92, 49, 0.97);
    color: rgba(0, 0, 0, 0.99);
    font-size: 90%;
    text-align: center;
}

button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #8a8a8a;
}

h2 {
    color:#0f0909 ;
    text-shadow: -1px -1px black;
    font-family:'Roboto', sans-serif;
    text-align: center;

}

/* Estilo para o cabeçalho da tabela */
#tabela-prestadores th {
    background-color: #1191e7;
    border: 1px solid #100f0f;
    padding: 10px;
    
  }
  
  /* Estilo para as células da tabela */
  #tabela-prestadores td {
    border: 1px solid #ccc;
    padding: 10px;
    
  }
  
  /* Estilo para linhas de fundo alternadas */
  #tabela-prestadores tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  body {
    background-color:#36c6d3;
  
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 20px;
  }
  
  #tabela-prestadores {
    margin-top: 20px;
    margin-bottom: auto; 
    align-self: center; 
  }
  
  #outra-tabela {
    margin-top: auto;
    align-self: center; 
  }